@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Reqtest";
}

<script type="text/javascript">

</script>

    
<div>
    <div id ="DashBoard-div" class="demo-section k-content" style="text-align: center;">
        <h4>Employee Name</h4>
        @Html.Kendo().TextBox().Name("textbox")
    </div>
    <div id ="DashBoard-div" class="demo-section k-content" style="text-align: center;">
        <h4>Date</h4>
        @(Html.Kendo().DatePicker()
              .Name("weekend-date-picker")
              .DisableDates(DayOfWeek.Saturday, DayOfWeek.Sunday)
              )
    </div>
    <div id ="DashBoard-div" class="demo-section k-content" style="text-align: center;">
        <h4>Time</h4>
        @(Html.Kendo().TimePicker()
              .Name("start")
              .Value("8:00 AM")
              .Min("8:00 AM")
              .Max("5:00 PM")
              )
    </div>
    <div id ="DashBoard-div" style="text-align: center;">
        <input type="submit" value="Submit Data" id="btnSubmit" />
    </div>


</div>


    

